# Google Cloud dependencies
google-cloud-logging
google-cloud-pubsub
google-cloud-vision

# Flask for HTTP handling
flask
functions-framework

# DeepFace and dependencies
deepface
tensorflow==2.12.0
keras==2.12.0
tf-keras

# Image processing
opencv-python-headless
numpy

# HTTP requests
requests