google-cloud-vision
google-cloud-logging
google-cloud-pubsub
functions-framework
flask
numpy
requests
opencv-python-headless
deepface
tensorflow==2.12.0  # Downgrade TensorFlow for compatibility
keras==2.12.0  # Match the TensorFlow version
tf-keras  # Fixes the missing tf-keras error
